<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Складдан товар чикариш</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="skladga_qoshish.css">
</head>
<body>
    <div class="quti">
    <br>

    <div class="container col-6">
        <br>
       <form action="" method="POST">
           {% csrf_token %}
           {{form.as_p}}
           <br>

      <input  type="submit" class="btn btn-success btn-lg btn-block" value="Бажариш">

      <a href="{% url 'home' %}"class="btn btn-success btn-lg btn-block" >Оркага</a>

       </form>
    </div>
</div>

<style>
    .quti{ padding-top: 10%; }
</style>

<script type="text/javascript">
        window.onload=()=>{
            let message = "{{message}}";
            if(message.length>0){
                alert(message);
            }
        }
   </script> 

</body>
</html>